*.psess
*.aps
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.opendb
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
.vs
Bin
ipch
Debug
Profile
Release
x64
packages
Test
/wiki
/Direct3D/CompiledEffect/*.fxo
/Direct3D10/EffectPools/*.fxo9
/Direct3D10/EffectPools/*.fxo10
/Media/misc/*.ldprt
/Media/misc/*.prt
/Media/misc/*.sn
