#include <WinResRc.h>
	
/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

1                       RT_MANIFEST             "MeshFromOBJ10.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Public resource script
//

#include "MeshFromOBJ10.rc"
